.App {
  text-align: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  

}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width:768px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding:15px;
}
.board {
  display: flex;
  flex-direction: column;
  width:100%;
  max-width: 300px;
  background-color: #333;
  padding: 15px;
  height: 100%;
  min-height: 300px;
}
.board .card {
  padding: 15px 25px;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 15px;

}

.displayLine {
  display: inline-flex;
}

.eachLink {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

color: #3F3939;
}
.eachTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
/* identical to box height */


color: #3F3939;
}

.eachStatus {

  background: #FFFFFF;
  border: 1px solid #D7D6D6;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.105004);
  border-radius: 4px;
}

.statuses{
  padding: 14px;
}

.tbody {
  margin: 10px;
}